@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.dark {
  background-color: #1a202c; 
  color: #f7fafc; 
}

.dark .bg-white {
  background-color: #2d3748; 
}



