@tailwind base;
@tailwind components;
@tailwind utilities; 

<<<<<<< HEAD

=======
>>>>>>> 9e59078094ccc58664c1ea56694019efd167e4e1
body {
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.dark {
  background-color: #1a202c; 
  color: #f7fafc; 
}

.dark .bg-white {
  background-color: #2d3748; 
}



